.container{
    width: 85%;
    margin:0 auto !important;
    padding: 0 !important;
    margin-top: 80px !important;
    padding-bottom: 50px !important;
}
.box{
    border-bottom: solid 0.1px rgb(184, 176, 176);

}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 15px;
 
  }

  .list-cate{
    list-style-type: none;
    padding: 0;
  }
  .list-cate li{
      margin-top: 20px;
      font-size: 14px;
  }

